VITE_SUPABASE_URL=https://ljmjfevlgpanovzxhktg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxqbWpmZXZsZ3Bhbm92enhoa3RnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1NjMzNjIsImV4cCI6MjA4ODEzOTM2Mn0.JRZJEIboY-ngHVLUaWZt2CZzsPfGogxK9haU5tqWjPc
